<%-include('./partials/header')%>
<%-include('./partials/flash')%>

<div class="row" style="margin-top: 80px;">
    <div class="col-6 mx-auto">
        <h1 class="display-6">Sign-up Form</h1>
        <form action="/admin/dashboard/create/user" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
            </div>
            <div class="mb-3">
                <label for="fullname" class="form-label">Fullname: </label>
                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Fullname of the Admin" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password of the Admin" required>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Create</button>
            <p class="mt-2">Already a Admin? <a href="/login">Login</a></p>
        </form>
    </div>
</div>


<script src="/js/script.js"></script>

<%-include('./partials/footerbar')%>