<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401-Not-Authorized</title>
</head>
<body>
    <h1 class="text-center fw-bold fs-2">Hey You Are Not Authorized To Access This page Please Login To Access This Page</h1>
    <a class="text-center fw-bold fs-2" href="/login">Click Here To Login</a>
</body>
</html>